
h1 {
    color: red;
}

h2 {
    font-size: xx-large;
    color:aqua;
}

/* section {
    background-color: violet;
} */

div {
    font-size: xx-large;
    color: blue;
}

.custom-section {
    background-color: red;
}

#ma-section-table {
    background-color: violet;
}


div p, footer, h1 {
    color: gray
}

div > p  {
    color: green
}

div p:first-child {
    color: deeppink;
}

p[data-paragraph='3'] {
    text-decoration: underline;
}

#title:hover {
    text-decoration: underline;
}

.pos-element {
    background-color: pink;
}

span {
    position: static;
}

#main-article {
    border: 2px solid black;
}

span:nth-child(2){
    background-color: green;
    position: relative;
    /* top: 15px; */
    bottom: 250px;
    left: 850px;
}